.top-menu {
    border-bottom: 3px solid #b2ada9;
    font-family: 'M PLUS 1p', sans-serif;
    display: flex;
    user-select: none;
    list-style-type: none;
    margin: 0;
}

.menu-button {
    border: 2px solid #b2ada9;
    display: inline-block;
    margin: 5px;
    padding: 1px 10px;
    border-radius: 20px;
    font-size: 13px;
    color: #383838;
    cursor: pointer;
    width: 76px;
    text-align: center;
}

.left-bar {
    width: 3px;
    margin-left: 20px;
    background-color: #b2ada9;
    display: flex;
}

.right-bar {
    width: 3px;
    margin-left: 20px;
    background-color: #b2ada9;
    position: absolute;
    right: 20px;
    height: 34px;
    top: 0;
}

.file-input {
    display: none;
}

.modal-menu-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #0007;
    display: none;
    align-items: center;
    justify-content: center;
}

.close-button {
    float: right;
    height: 44px;
    border-bottom: 3px solid #b2ada9;
    padding-right: 5px;
    cursor: pointer;
}

li {
    cursor: pointer;
    padding: 10px;
}

li:hover {
    background-color: #ddd;
}

li.active {
    background-color: #b4b4b4;
}

.help {
    margin: 10px;
}

.controls {
    display: none;
    margin: 10px;
}

.button-row {
    display: flex;
}

table {
    width: 100%;
    font-size: 14px;
}

table th, table td {
    text-align: center;
}

table button {
    width: 85px;
}

.colors {
    display: none;
    margin: 10px;
}

.color {
    height: 100px;
    border: 1px solid black;
}

.color1 {
    background-color: #fff;
}

.color2 {
    background-color: rgb(192, 192, 192);
}

.color3 {
    background-color: rgb(96, 96, 96);
}

.color4 {
    background-color: #000;
}

.help div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

p {
    margin: 0;
    padding-left: 10px;
    font-size: 14px;
}

.modal-menu {
    background-color: white;
    width: 90%;
    height: 90%;
    max-width: 300px;
    max-height: 500px;
}

@media screen and (orientation:landscape) and (max-device-width: 832px) {
    .top-menu {
        position: absolute;
        border: none;
    }

    .left-bar {
        display: none;
    }

    .right-bar {
        display: none;
    }
}