@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

html, body {
    margin: 0;
    overscroll-behavior: none;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    user-select: none;
    touch-action: none;
    -ms-touch-action: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

/*Portrait mode default*/
.gameboy-chassis {
    font-family: Orbitron, sans-serif;
    background-color: #c6c1bd;
    color: #0b0ba7;
    box-shadow: inset 0 0 8px 0 #666;
    border-radius: 10px;
    border: 1px solid #898989;
    margin: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template:
        'file-picker file-picker'
        'screen screen'
        'd-pad a-b-buttons'
        'start-select start-select';

    grid-template-rows: 0.1fr 2fr 1.5fr 0.5fr;
    grid-template-columns: 1fr 2fr;
}

.gameboy-chassis.controls-hidden {
    background-color: black;
    grid-template: 'screen';
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    border-radius: 0;
    border: none;
    box-shadow: none;

    gameboy-d-pad {
        display: none;
    }

    .start-select {
        display: none;
    }

    .button-spacer {
        display: none;
    }
}

body::backdrop {
    background: #c6c1bd;
}

gameboy-d-pad {
    margin-top: 0.2in;
    margin-left: 0.2in;
}

.start-select {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;

    round-button {
        display: block;
    }
}

.screen-wrap {
    display: grid;
    place-items: center;
    background-color: #908d90;
}

.button-spacer {
    display: flex;
    justify-self: end;
    margin-top: 0.2in;
}

@media (orientation:landscape) {
    .gameboy-chassis {
        grid-template:
        'file-picker screen .'
        'd-pad screen a-b-buttons'
        'start-select screen .';
        grid-template-rows: 0.1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .gameboy-chassis.controls-hidden {
        grid-template: 'screen';
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .start-select {
        align-self: end;
    }
}
