:host {
    display: grid;
    place-items: center;
    --icon-size: 32px;
    --icon-padding: 10px;
}

.screen-frame, canvas {
    width: auto;
    height: 100%;
}

.screen-frame {
    position: relative;
    aspect-ratio: auto 160 / 144;
}

canvas {
    box-sizing: border-box;
    background-color: #80b141;
    image-rendering: pixelated;
    display: block;
    border-radius: 8px;
    border: 5px solid #908d90;
}


.overlay-controls {
    display: grid;
    position: absolute;
    inset: 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    pointer-events: auto;
    transition: opacity 300ms ease;
    z-index: 2;
    border: 5px solid #908d90;
    border-radius: 8px;
    box-shadow: inset 0 0 5px 0 black;

    &.hidden {
        * {
            pointer-events: none;
            opacity: 0;
        }
    }

    svg {
        filter: drop-shadow(0 1px 1px rgba(0,0,0,1)) drop-shadow(0 1px 3px rgba(0,0,0,1));
    }

    .bottom-controls {
        display: flex;
        align-self: end;
        justify-content: space-between;
        padding: 0 var(--icon-padding);
    }
}

.bi {
    width: var(--icon-size);
    height: var(--icon-size);
    padding: var(--icon-padding);
}

.menu {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 12px;
    color: #d4d4d4;
    letter-spacing: 2px;
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 3px;
}

.menu-border {
    flex-grow: 1;
    border-top: 1px solid #0b0ba7;
    border-bottom: 1px solid #ca0e60;
    height: 8px;
    margin-left: 5px;
}

@media (max-aspect-ratio: 1/1.85) {
    canvas, .screen-frame {
        width: 100%;
        height: auto;
    }
}
@media (orientation:landscape) {
    canvas, .screen-frame {
        width: 100%;
        height: auto;
    }
}

@media (orientation:landscape) and (min-aspect-ratio: 2.2/1) {
    canvas, .screen-frame {
        width: auto;
        height: 100%;
    }
}
