:host {
    display: grid;
    place-items: center;
}

canvas {
    width: auto;
    height: 100%;
    background-color: #80b141;
    image-rendering: pixelated;
}

.screen-wrap {
    display: grid;
    place-items: center;
}

.overlay-controls {
    position: absolute;
    aspect-ratio: 160 / 144;
    width: auto;
    height: 100%;
}

.menu {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 12px;
    color: #d4d4d4;
    letter-spacing: 2px;
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 3px;
}

.menu-border {
    flex-grow: 1;
    border-top: 1px solid #0b0ba7;
    border-bottom: 1px solid #ca0e60;
    height: 8px;
    margin-left: 5px;
}

@media (max-aspect-ratio: 1/1.85) {
    canvas {
        width: 100%;
        height: auto;
    }
}
@media (orientation:landscape) {
    canvas {
        width: 100%;
        height: auto;
    }
}

@media (orientation:landscape) and (min-aspect-ratio: 2.2/1) {
    canvas {
        width: auto;
        height: 100%;
    }
}
